.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: 
    url(https://mobimg.b-cdn.net/v3/fetch/aa/aa05faf3f15d8e2f8d140249794843bd.jpeg);
    color: white;
}